@page "/Compras"
@inject ComprasBLL comprasBLL

<EditForm Model="compra">

    <div class="card">

        <div class="card-header">
            <h4 style="text-align: center;">Consulta de compras</h4>
        </div>
        <div class="col-3">
            <button @onclick="Buscar" class="btn btn-outline-primary" type="button"> <i
                    class="oi oi-magnifying-glass" /> </button>
        </div>


    </div>

    <table class="table table-light" style="box-shadow: 1px 6px rgba(0, 0, 0, 0.2);">
        <thead class="thead">
            <tr class="table">
                <th>CompraId</th>
                <th>Fecha</th>
                <th>Ncf</th>
                <th>Suplidor</th>
                <th>Costo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var compra in comprasList)
            {

                if (compra == comprasList.ElementAt(0))
                {
                    TotalCompras = 0;
                    TotalRegistro = 0;
                }

                <tr>
                    <td>@compra.CompraId</td>
                    <td>@compra.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@compra.Ncf</td>
                    <td>@compra.SuplidorId</td>
                    <td>@compra.Total </td>
                    <td><button class="btn btn-sm btn-outline-primary oi oi-eye"> <i>Imprimir</i></button></td>
                </tr>

                TotalCompras += compra.Total;
                TotalRegistro = compra.CompraId;
            }

        </tbody>

    </table>


</EditForm>

@code {


    public Compras compra { get; set; } = new Compras();
    public DateTime fecha { get; set; } = new DateTime();
    public DateTime fecha2 { get; set; } = new DateTime();
    public double TotalCompras { get; set; } = 0;
    public List<Compras> comprasList { get; set; } = new List<Compras>();
    public int TotalRegistro { get; set; } = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    void Buscar()
    {

        comprasList = comprasBLL.GetList();

    }
}
