@page "/C_Productos"
@inject ComprasBLL comprasBLL
@inject ProductosBLL productosBLL

<EditForm Model="compra">

    <div class="card">

        <div class="card-header">
            <h4 style="text-align: center;">Consulta de Productos</h4>
        </div>
        <div class="col-3">
            <button @onclick="Buscar" class="btn btn-outline-primary" type="button"> <i
                    class="oi oi-magnifying-glass" /> </button>
        </div>
    </div>

    <table class="table table-light" style="box-shadow: 1px 6px rgba(0, 0, 0, 0.2);">
        <thead class="thead">
            <tr class="table">
                <th>ProductoId</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Existencia</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var compra in comprasList)
            {

                if (compra == comprasList.ElementAt(0))
                {
                    TotalCompras = 0;
                    TotalRegistro = 0;
                }

                <tr>
                    <td>@compra.ProductoId</td>
                    <td>@compra.Descripcion</td>
                    <td>@compra.Costo</td>
                    <td>@compra.Precio</td>
                    <td>@compra.Existencia</td>
                </tr>
            }

        </tbody>

    </table>

</EditForm>

@code {


    public Compras compra { get; set; } = new Compras();
    public double TotalCompras { get; set; } = 0;
    public List<Productos> comprasList { get; set; } = new List<Productos>();
    public int TotalRegistro { get; set; } = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }


    void Buscar()
    {


        comprasList = productosBLL.GetList();


    }
}
